version: '3.8'

services:
  backend:
    build: 
      context: ./backend
    container_name: finary_backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
    volumes:
      - ./backend:/src/main
  postgres:
    image: postgres:17
    container_name: finary-db
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - ./backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
 